


.content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.content logo {
    margin-left: 2rem;
}

.content logo:hover {
    cursor: pointer;
}


.navli {
    align-items: center;
    list-style: none;
    display: flex;
    margin-right: 2rem;
}

.navli li {
    margin-left: 2rem;
}

.navli li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}